*
{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

.hero
{
	width: 100%;
	min-height: 100vh;
	/*background: linear-gradient(45deg,#a700ff,#4d19db);*/
	background: linear-gradient(45deg,#ffbc00,#ff0058);
	position: relative;
	z-index: 1;
	overflow: hidden;
}

nav
{
	display: flex;
	align-items: center;
	padding: 30px 0;
}

nav ul
{
	flex: 1;
	text-align: right;
	margin-right: 120px;
	overflow: hidden;
	margin-top: 20px;
}

nav ul li
{
	display: inline-block;
	list-style: none;
	margin-left: 40px;
}

nav ul li a
{
	background-color: transparent;
    color: #fff;
    border: 1px inset white;
    padding: 10px;
    transition: 1s;
    display: inline-block;
    transition: 1s;
    border-radius: 190px;
    box-shadow: 0 2px 5px ;
}


/*a
{
	text-decoration: none;
	color: #fff;
}*/

nav ul li a:hover
{
	/*border-bottom: 4px solid yellow;*/
	background-color: #bf55ec;
    transform: scale(1);
}

#img
{
    position: absolute;
    background: #bf55ec;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    border-radius: 190px;
    border:3px inset white;
    transition: transform 2s;
}

#img:hover{
    transform: rotate(360deg);
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5%;
	justify-content: space-between;
}

.col-1
{
	flex-basis: 40%;	
	min-width: 300px;
	margin-bottom: 30px;
	position: relative;
}

.col-2
{
	flex-basis: 55%;
	min-width: 300px;
	margin-bottom: 30px;
}

.col-1 img
{
	width: 100%;
}

.col-2 h1
{
	font-size: 62px;
	font-weight: 400;
}

span
{
	color: yellow;
}

.col-2 p
{
	margin: 10px 0 0px;
	max-width: 100%;	
}
.btn
{
	border: 2px solid #fff;
	border-radius: 20px;
	padding: 10px 30px;
	/*margin-left: 30px;*/
}

.col-2 .btn
{
	margin-left: 10px;
	
}


.elements
{
	position: absolute;
	left: 0;
	top: 0;
	animation: move 2.5s linear infinite;

}

@keyframes move
{
	0%{
		transform: translate(-10px,0px);
	}

	50%{
		transform: translate(0px,-10px);
	}

	90%{
		transform: translate(-10px,0px);
	}
}

.triangle1
{
	position: absolute;
	left: 50%;
	top: -180px;
	transform: translateX(-50%);
	width: 400px;
	z-index: -1;
	opacity: 0.7;
}

.triangle2
{
	position: absolute;
	left: -50px;
	top: 50%;
	transform: translateY(-50%);
	width: 400px;
	z-index: -1;
	opacity: 0.7

}

.hero .row .col-2 a
{
	background-color: transparent;
    color: #fff;
    border: 1px inset white;
    padding: 10px;
    transition: 1s;
    display: inline-block;
    transition: 1s;
    border-radius: 190px;
    box-shadow: 0 2px 5px ;
}

.hero .row .col-2 a:hover
{
	background-color: #bf55ec;
    transform: scale(1.2);
}