body{
	font-family: arial;
	font-size: 15px;
	line-height: 1.6em;
	/*background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('pic3.jpg');*/
	background: linear-gradient(45deg,#ffbc00,#4d19db);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: auto;
}
}




header{
	border-bottom: 3px #f4f4f4 solid;
	/*background: 4c7578;*/
}

footer{
	border-top: 3px #f4f4f4f solid;
	text-align: center;
	padding-top: 5px;
}
main{
	padding-bottom: 20px;
}


}
label{
	display: inline-block;
	width: 180px;
}
input[type="text"]{
	width: 97%;
	padding: 4px;
	border-radius: 5px;
}
input[type="number"]{
	width: 50px;
	padding: 4px;
	border-radius: 5px;
}

.menu{
	width:400px;
	height: 400px;
	margin: 20px auto;
}
.container{
	width:60%;
	margin: 0 auto;
	overflow: auto;
}
a.start{
	display: inline-block;
	color:#666;
	border-radius: 50px;
	background-color: transparent;
    color: #111;
    border: 1px inset white;
    padding: 10px;
    transition: 1s;
    box-shadow: 0 2px 5px ;
    margin-left: 20px;
    width: 200px;
    text-align: center;
    font-size: 40px;
}
}


#img
{
    position: absolute;
    background: #bf55ec;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    border-radius: 190px;
    border:3px inset white;
    transition: transform 2s;
}

#img:hover{
    transform: rotate(360deg);
}



 .container .start a:hover
{
    background-color: #bf55ec;
    transform: scale(1.2);
}