* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('123.jpg');
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: #bf55ec;*/
}

/* .drop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

button {
	/* position: relative; */
	width: 100%;
	height: 60px;
	font-size: 24px;
	background: #2196f3;
	border: none;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	color: #fff;
}

#img
{
    position: absolute;
    background: #bf55ec;
    top: 10px;
    left: 10px;
    margin-left: 10px;
    border-radius: 190px;
    border:3px inset white;
    transition: transform 2s;
}

#img:hover{
    transform: rotate(360deg);
}
/* ul {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #ccc;
	transform-origin: top;
	transform: perspective(1000px) rotateX(-90deg);
	transition: 0.5s;
}
ul.active {
	transform: perspective(1000px) rotateX(0deg);
}

ul li {
	display: block;
	padding: 5px;
	background: #262626;
	color: #fff;
	transition: 0.5s;
}
ul li:hover {
	background: #0d7ad0;
} 

#q1,
#q2,
#q3 {
	display: none;
}
